.header-button {
  color: #54686f;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

.header,
.buttons-container {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
}

.buttons-container {
  width: 240px;
  justify-content: space-evenly;
}

.header {
  width: 409px;
  padding: 9.5px 16px 9.5px 16px;
  justify-content: space-between;
  border-right: 1px solid #d8dde1;
}
