.header-button {
  color: #54686f;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
  font-size: 100%;
  border: none;
}

.header,
.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
}
