.chat-bubble {
  padding: 8px 7px;
  max-width: 452px;
  width: fit-content;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.green {
  background-color: #d7f5d3;
  margin: 10px 56.7px 10px auto;
}

.white {
  background-color: #fff;
  margin: 10px auto 10px 56.7px;
}

.timestamp {
  font-size: 12px;
  color: #424241;
}
