.chat-bubble {
  padding: 8px 7px;
  max-width: 452px;
  width: fit-content;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-size: 14px;
  border: 1px solid #dadada;
}

.green {
  background-color: #d7f5d3;
}

.right-margin {
  margin: 10px 56.7px 10px auto;
  justify-content: flex-end;
}

.left-margin {
  margin: 10px auto 10px 56.7px;
  justify-content: flex-start;
}

.white {
  background-color: #fff;
}

.timestamp {
  font-size: 12px;
  color: #424241;
}

.chat-bubble-container {
  display: flex;
  align-items: center;
}

.chat-bubble-container > i {
  visibility: hidden;
}

.chat-bubble-container:hover > i {
  margin-left: 10px;
  margin-right: 10px;
  visibility: visible;
  color: #c1c0bd;
}
