.chatarea-header {
  background-color: #f0f2f5;
  display: flex;
  height: 59px;
  width: 100%;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.chat-area {
  display: flex;
  flex-direction: column;
}

.status {
  font-size: 12px;
}

.chatarea-username-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  gap: 5px;
  margin-right: auto;
}

.chatarea-button {
  font-size: 1.5rem;
  color: #54656f;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
}

.write-message-area-component {
  margin-top: auto;
}
